{% extends 'base.html.twig' %}

{% block title %}Piece index
{% endblock %}

{% block body %}
	<a href="{{ path('app_piece_new') }}">Ajouter une pièce</a>

	{% for piece in pieces %}
		<div>
			<span>{{ piece.libellePiece }}</span>
			<span>Composition:</span>
			<span>Référence:{{ piece.referencePiece }}</span>
			<span>Type:</span>
			<span>Responsable:</span>
			<span>Stock:{{ piece.stock }}</span>
			<span>Prix unitaire:{{ piece.prixU }}€</span>
			<div>
				<a href="{{ path('app_piece_show', {'id': piece.id}) }}">show</a>
				<a href="{{ path('app_piece_edit', {'id': piece.id}) }}">edit</a>
				{{ include('piece/_delete_form.html.twig') }}
			</div>
		</div>
	{% else %}
		<tr>
			<td colspan="6">no records found</td>
		</tr>
	{% endfor %}

{% endblock %}
