{% extends 'base.html.twig' %}

{% block title %}Operation index{% endblock %}

{% block body %}

	<div>
		<a href="{{ path('app_operation_new') }}">Ajouter une operation</a>
		<select>
			{% for operation in operations %}
				<option>
					<a href="{{ path('app_operation_show', {'id': operation.id}) }}">{{ operation.libelle }}</a>
				</option>

			{% else %}
				<option>no records found</option>
			{% endfor %}
		</select>
	</div>

        {% for operation in operations %}
            <tr>
                <span>{{ operation.id }}</span>
                <span>{{ operation.libelle }}</span>
                <span>{{ operation.description }}</span>
                <span>{{ operation.temps ? operation.temps|date('H:i:s') : '' }}</span>
                <div>
                    <a href="{{ path('app_operation_show', {'id': operation.id}) }}"><button class="btn text-bg-accent-2 text-primary">
							<i class="fa-solid fa-eye"></i>
						</button></a>
                    <a href="{{ path('app_operation_edit', {'id': operation.id}) }}"><button class="btn text-bg-accent-2 text-primary mx-3">
							<i class="fa-solid fa-pen"></i>
						</button></a>
                </div>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
