{% extends 'fabrication-base.html.twig' %}
{% block title %}
  Gamme index
{% endblock %}

{% block body %}
  <div class="d-flex flex-column align-items-baseline justify-content-start w-75 flex-grow-1">
    <div class="d-flex column-gap-2 m-auto w-75 mb-4">
      {% if is_granted('ROLE_ATELIER_RESPONSABLE') or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_gamme_new') }}" class="btn bg-accent-2 text-primary">Ajouter une gamme</a>
      {% endif %}
      <select id="filterSelect" class="form-select d-inline-block w-auto" aria-label="Choix de la gamme">
    <option value="" selected>Cherchez une gamme</option>
        {% for gamme in gammes %}
          <option value="{{ gamme.id }}">
            <a >{{ gamme.libelle }}</a>
          </option>
        {% else %}
          <option>no records found</option>
        {% endfor %}
      </select>
    </div>

    {% for gamme in gammes %}
      <div class="d-flex flex-row w-75 m-auto content border-bottom mb-3" id="{{ gamme.id }}">
        <div class="flex-grow-1">
          <div>
            <span>
              Gamme:
              {{ gamme.libelle }}
            </span>
          </div>
          <div>
            <span>
              Responsable:
              {{ gamme.responsable.nom }}
              {{ gamme.responsable.prenom }}
            </span>
          </div>
          <div>
            <span>
              Piece:{% if gamme.Piece %}
                {{ gamme.Piece.libellepiece }}
              {% else %}
                Ajoutez une piece
              {% endif %}
            </span>
          </div>
          <div>
            <span>
            operations:
              {% for ope in gamme.operations %}
                <li>{{ ope.libelle }}</li>
              {% endfor %}
            </span>
          </div>
        </div>
        <div class="d-flex">
          <a href="{{ path('app_gamme_show', { id: gamme.id }) }}"><button class="btn text-bg-accent-2 text-primary"><i class="fa-solid fa-eye"></i></button></a>
          {% if gamme.responsable.id is same as(connectedUser) %}
            <a href="{{ path('app_gamme_edit', { id: gamme.id }) }}"><button class="btn text-bg-accent-2 text-primary mx-3"><i class="fa-solid fa-pen"></i></button></a>
          {% endif %}
        </div>
      </div>
    {% else %}
      <tr>
        <td colspan="5">no records found</td>
      </tr>
    {% endfor %}
  </div>
{% endblock %}
