{% extends 'base.html.twig' %}

{% block title %}Droit index
{% endblock %}

{% block body %}
	<a href="{{ path('app_droit_new') }}">Ajouter un droit</a>
	<a href="{{ path('app_user_index') }}">Voir les utilisateurs</a>
	{% for droit in droits %}
		<div class="d-flex flew-column">
			<span>{{ droit.libelle }}</span>
			<span>Qualifications</span>

		</div>
		<div>
			<a href="{{ path('app_droit_show', {'id': droit.id}) }}"><button class="btn text-bg-accent-2 text-primary">
							<i class="fa-solid fa-eye"></i>
						</button></a>
			<a href="{{ path('app_droit_edit', {'id': droit.id}) }}"><button class="btn text-bg-accent-2 text-primary mx-3">
							<i class="fa-solid fa-pen"></i>
						</button></a>
		</div>
	{% else %}
		<tr>
			<td colspan="3">no records found</td>
		</tr>
	{% endfor %}

{% endblock %}
