{% extends 'base.html.twig' %}

{% block title %}Poste index{% endblock %}

{% block body %}
    <h1>Poste index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poste in postes %}
            <tr>
                <td>{{ poste.id }}</td>
                <td>{{ poste.libelle }}</td>
                <td>
                    <a href="{{ path('app_poste_show', {'id': poste.id}) }}"><button class="btn text-bg-accent-2 text-primary">
							<i class="fa-solid fa-eye"></i>
						</button></a>
                    <a href="{{ path('app_poste_edit', {'id': poste.id}) }}"><button class="btn text-bg-accent-2 text-primary mx-3">
							<i class="fa-solid fa-pen"></i>
						</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_poste_new') }}">Create new</a>
{% endblock %}
