{% extends 'fabrication-base.html.twig' %}

{% block title %}Poste index
{% endblock %}

{% block body %}
<div class="d-flex justify-content-start w-50">
	<a href="{{ path('app_poste_new') }}" class="btn bg-accent-2 text-primary">Ajouter un poste</a>
</div>
	<table class="table w-50 h-50 mx-auto my-auto">
		<thead>
			<tr>
				<th>Libelle</th>
				<th>Machines</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for poste in qualifications %}
				<tr>
					<td>{{ poste.libelle }}</td>
					<td>
						{% for machine in poste.machines %}
							<span>{{ machine.libelle }},</span>
						{% endfor %}
					</td>
					<td>
						<a href="{{ path('app_poste_show', {'id': poste.id}) }}">
							<button class="btn text-bg-accent-2 text-primary">
								<i class="fa-solid fa-eye"></i>
							</button>
						</a>
						<a href="{{ path('app_poste_edit', {'id': poste.id}) }}">
							<button class="btn text-bg-accent-2 text-primary mx-3">
								<i class="fa-solid fa-pen"></i>
							</button>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Aucune donnée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
