{% extends 'base.html.twig' %}

{% block title %}LigneDocument{% endblock %}

{% block body %}
    <h1>LigneDocument</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_document.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ ligne_document.quantite }}</td>
            </tr>
            <tr>
                <th>Prix_vente</th>
                <td>{{ ligne_document.prixVente }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ligne_document_index') }}" class="btn bg-accent-2 text-primary">Retour à la liste</a>

    <a href="{{ path('app_ligne_document_edit', {'id': ligne_document.id}) }}"><button class="btn text-bg-accent-2 text-primary mx-3"><i class="fa-solid fa-pen"></i></button></a>

    {{ include('ligne_document/_delete_form.html.twig') }}
{% endblock %}
