{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}

{% block body %}
<div class="col-sm p-3 min-vh-100 d-flex flex-column align-items-center h-100">
          <div class="d-flex column-gap-5 pb-3">
            <a href="{{ path('app_devis_index') }}" class="btn {{ active == 'devis' ? 'bg-accent text-secondary' : 'bg-accent-2 text-primary' }}">Devis</a>
            <a href="{{ path('app_commande_index') }}" class="btn {{ active == 'commandes' ? 'bg-accent text-secondary' : 'bg-accent-2 text-primary' }}">Commandes</a>
            <a href="{{ path('app_realisation_index') }}" class="btn {{ active == 'achats' ? 'bg-accent text-secondary' : 'bg-accent-2 text-primary' }}">Achats</a>
          </div>
    <h1>Document index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Type</th>
                <th>Montant_total</th>
                <th>Delai</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.date ? document.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ document.type }}</td>
                <td>{{ document.montantTotal }}</td>
                <td>{{ document.delai ? document.delai|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_document_show', {'id': document.id,variable: active}) }}">show</a>
                    <a href="{{ path('app_document_edit', {'id': document.id,variable: active}) }}"><button class="btn text-bg-accent-2 text-primary mx-3"><i class="fa-solid fa-pen"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_document_new',{variable: active}) }}">Create new</a>
{% endblock %}
