{% extends 'fabrication-base.html.twig' %}

{% block title %}Machine index
{% endblock %}

{% block body %}
<div class="d-flex justify-content-start w-50">
<a href="{{ path('app_machine_new') }}" class="btn bg-accent-2 text-primary">Ajouter une machine</a>
</div>
	<table class="table w-50 h-50 mx-auto my-auto">
		<thead>
			<tr>
				<th>Libelle</th>
				<th>Postes</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for machine in machines %}
				<tr>
					<td>{{ machine.libelle }}</td>
					<td>
						{% for poste in machine.Poste %}
							{{ poste.libelle }},
						{% endfor %}
					</td>
					<td>
						<a href="{{ path('app_machine_show', {'id': machine.id}) }}">
							<button class="btn text-bg-accent-2 text-primary">
								<i class="fa-solid fa-eye"></i>
							</button>
						</a>
						<a href="{{ path('app_machine_edit', {'id': machine.id}) }}">
							<button class="btn text-bg-accent-2 text-primary mx-3">
								<i class="fa-solid fa-pen"></i>
							</button>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Aucune donnée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	
{% endblock %}
