{{ form_start(form) }}
{# {{ form_widget(form) }} #}
{{form_row(form.fournisseur)}}
{{form_row(form.date)}}
{{form_row(form.livraison_prevue)}}
{{form_row(form.livraison_reelle)}}
<label>Achats</label>
<button type="button" class="add_item_link" data-collection-holder-class="ligneAchats">Ajouter une ligne</button>
<ul
	class="ligneAchats" data-index="{{ (form.ligneAchats|length) > 0 ? form.ligneAchats|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.ligneAchats.vars.prototype)|e('html_attr') }}">
	{# {{dump(form.ligneAchats.vars.prototype)}} #}
	{% for tag in form.ligneAchats %}
		{% for data in tag.vars.value %}
			<li class="d-flex">{{ dump(tag.vars.value.piece) }}</li>
		{% endfor %}
	{% endfor %}
</ul>

{% if formType != 'devis' %}
	{{ form_row(form.ligneAchats) }}
{% endif %}
<div class="w-100 d-flex justify-content-end mt-5">
<div class="w-100 d-flex justify-content-end mt-5">
<button class="btn">{{ button_label|default('Enregistrer') }}  <i class="fa-solid fa-arrow-right"></i></button>
</div>
{{ form_end(form) }}

{% block custom_js %}
	<script type="text/javascript">
		var $wrapper = $('.form-container');
$wrapper.on('click', '.delete-achat', function (e) {
e.preventDefault();
console.log($('.delete-achat'));
$(this).parent().parent().remove()
});

$('.add_item_link').on('click', (e) => {
const collectionHolder = document.querySelector('.' + e.target.dataset.collectionHolderClass)

const item = document.createElement('li');

item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, collectionHolder.dataset.index)

collectionHolder.appendChild(item)

collectionHolder.dataset.index ++
})
	</script>
{% endblock %}
