{{ form_start(form) }}
{# {{ form_widget(form) }} #}
<label>Achats</label>
<ul class="ligneAchats" data-index="{{ (form.ligneAchats|length) > 0 ? form.ligneAchats|last.vars.name + 1 : 0 }}" data-prototype="{% if formType != 'edit' %}{{ form_widget(form.ligneAchats.vars.prototype)|e('html_attr') }}{% endif %}">
  {# {{dump(form.ligneAchats.vars.prototype)}} #}
  {% for tag in form.ligneAchats %}
    {% for data in tag.vars.value %}
      <li class="d-flex">{{ dump(tag.vars.value.piece) }}</li>
    {% endfor %}
  {% endfor %}
</ul>
<button type="button" class="add_item_link" data-collection-holder-class="ligneAchats">Ajouter une ligne</button>
<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

{% block custom_js %}
  <script type="text/javascript">
    $('.add_item_link').on('click', (e) => {
      const collectionHolder = document.querySelector('.' + e.target.dataset.collectionHolderClass)
    
      const item = document.createElement('li');
    
      item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, collectionHolder.dataset.index)
    
      collectionHolder.appendChild(item)
    
      collectionHolder.dataset.index++
    })
  </script>
{% endblock %}
