{% extends 'base.html.twig' %}

{% block title %}
  User
{% endblock %}

{% block body %}
  <div class="d-flex align-items-center justify-content-between w-50">
    <a href="{{ path('app_user_index') }}" class="btn text-bg-accent-2 text-primary">back to list</a>
    <h1>User</h1>
    <div class="d-flex">
      <a href="{{ path('app_user_edit', { id: user.id }) }}" class="btn text-bg-accent-2 text-primary mx-3"><i class="fa-solid fa-pen"></i></a>

      {{ include('user/_delete_form.html.twig') }}
    </div>
  </div>

  <table class="table w-50 h-50 m-auto my-auto">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ user.id }}</td>
      </tr>
      <tr>
        <th>Nom</th>
        <td>{{ user.nom }}</td>
      </tr>
      <tr>
        <th>Prenom</th>
        <td>{{ user.prenom }}</td>
      </tr>
      <tr>
        <th>Identifiant</th>
        <td>{{ user.identifiant }}</td>
      </tr>
      <tr>
        <th>Roles</th>
        <td>
          {% for role in user.roles %}
            <li>{{ role }}</li>
          {% else %}
            <span>Ajouter un role</span>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <th>Qualifications</th>
        <td>
          {% for poste in user.postes %}
            <li>{{ poste.libelle }}</li>
          {% else %}
            <span>Ajouter un poste sur lequel l'ouvrier est qualifié</span>
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
